footer { font-size: 90%; }

header {
    background: #ffffff;
}

header a {
    color: #1f2e3f;
}

/* darkmode */
@media (prefers-color-scheme: dark) {
    ...
}

/* lightmode */
@media (prefers-color-scheme: light) {
    ...
}