footer { font-size: 90%; }

header {
    background: #613DC1;
}

header a {
    color: #fff;
}

/* darkmode */
@media (prefers-color-scheme: dark) {
    ...
}

/* lightmode */
@media (prefers-color-scheme: light) {
    ...
}